:root {
  --helv_f:"Helvetica";
  --color_font_orange: #F48F1D;
  --reg_font_weight: 400; }

* {
  margin: 0px;
  padding: 0px; }

:root {
  --helv_f:"Helvetica";
  --color_font_orange: #F48F1D;
  --reg_font_weight: 400; }

.logo a {
  letter-spacing: 0.2em;
  text-decoration: none;
  color: var(--color_font_orange);
  font-family: "Myriad Pro"; }

li a {
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-decoration: none;
  /*color:black;*/
  color: #ffffff; }

li a:hover {
  color: inherit; }

.description p {
  font-family: var(--helv_f);
  display: inline-block;
  font-size: 20px;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 0.9px;
  width: 65%; }

.card-name p {
  font-family: var(--helv_f);
  font-size: 1.1em;
  margin: 30px 0; }

.card_text p {
  display: inline-block;
  width: 70%;
  /*width: 362px;*/
  /*height: 69px;*/
  color: #000000;
  font-family: var(--helv_f);
  font-size: 0.7em;
  font-weight: 400;
  line-height: 19px;
  /* Text style for "Lorem ipsu" */
  letter-spacing: 0.6px; }

.numbers_box p:nth-child(1) {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 3.5em;
  color: #9a5437; }

.numbers_box p:nth-child(2) {
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 0.7em; }

.form .section-name h2 {
  color: #ffffff; }

.form .description p {
  color: #999797; }

h1 {
  color: #ffffff;
  font-family: Baskerville;
  font-weight: 400;
  letter-spacing: 0.1em; }

h2 {
  color: var(--color_font_orange);
  font-family: Athelas;
  text-transform: uppercase;
  font-weight: initial; }

.first-page {
  line-height: 2.5em;
  position: relative;
  width: 100%;
  height: 100vh; }

/*#================ LOGO =================*/
.logo {
  /*width: 100%;*/
  display: block;
  padding: 30px 0 30px 50px;
  background-color: #ffffff; }

/*#================ FRONTIMAGE =================*/
.cover_sect {
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../img/cover.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/cover.jpeg);
  height: 75vh;
  background-size: cover;
  background-position: center; }

.nav-bar {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)); }

ul {
  margin-left: 30px;
  list-style: none; }

.nav-li {
  padding: 15px 15px;
  display: inline-block;
  height: 100%; }

.nav-li:hover {
  /*background-color: rgba(172,92,2,0.7);*/
  background-color: #819596;
  color: black; }

.icon {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  display: inline-block;
  float: right;
  width: 35px;
  height: 35px; }

.icon img {
  display: none;
  width: 100%;
  margin: auto; }

.welcome {
  position: absolute;
  bottom: 150px;
  right: 100px; }

.section-name {
  margin: 65px 0;
  text-align: center;
  font-size: 2em; }

.line {
  width: 25%;
  margin: 25px auto 0 auto;
  border-bottom: 1px solid #F48F1D; }

.description {
  text-align: center;
  margin: 0;
  /*width:75%;*/ }

.card-block {
  margin: 80px 0px 160px 0px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*grid-gap: 5px;*/
  /*grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));*/
  /*height: 100vh;*/ }

.img-wrap {
  padding: 20px;
  height: 350px;
  /*width:250px;*/
  text-align: center; }

.card {
  display: inline-block;
  height: 550px;
  width: 300px;
  /*padding: 10px;*/
  text-align: center;
  /*border:1px solid black;*/ }

img {
  width: 100%;
  height: 100%;
  margin: auto; }

.card-name {
  margin: 30px 0; }

.card_text {
  padding: 10px;
  margin-top: 40px;
  text-align: center; }

.numbers {
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 39, 43, 0.9)), to(rgba(3, 39, 43, 0.9))), url("../img/background.jpg");
  background: linear-gradient(rgba(3, 39, 43, 0.9), rgba(3, 39, 43, 0.9)), url("../img/background.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.numbers_box {
  text-align: center;
  padding: 0 40px;
  color: #9a5437; }

.vectors_cover {
  height: 100vh;
  width: auto;
  background: url("../img/background_work.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.form {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 39, 43, 0.9)), to(rgba(3, 39, 43, 0.9))), url("../img/form_background.jpeg");
  background: linear-gradient(rgba(3, 39, 43, 0.9), rgba(3, 39, 43, 0.9)), url("../img/form_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 130vh;
  width: auto; }

/*.box_form{
	margin: 50px 0;
}*/
.form .section-name {
  margin: 0;
  padding: 180px 0 20px 0; }

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60vh;
  margin-top: 50px;
  text-align: center;
  padding: 0px 10em; }

.contact-form input, select, textarea {
  background: transparent; }

.contact-form input::-webkit-input-placeholder {
  color: #999797;
  /* #999797 */ }

.contact-form input:-ms-input-placeholder {
  color: #999797;
  /* #999797 */ }

.contact-form input::-ms-input-placeholder {
  color: #999797;
  /* #999797 */ }

.contact-form input::placeholder {
  color: #999797;
  /* #999797 */ }

.contact-form textarea::-webkit-input-placeholder {
  color: #999797; }

.contact-form textarea:-ms-input-placeholder {
  color: #999797; }

.contact-form textarea::-ms-input-placeholder {
  color: #999797; }

.contact-form textarea::placeholder {
  color: #999797; }

.contact-form select {
  color: #999797; }

.input_wrapper {
  border-bottom: 1px solid #999797;
  height: 30px; }

.input_wrapper:nth-child(1), .input_wrapper:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.input_wrapper_box {
  width: 48%;
  border-bottom: 1px solid #999797; }

.txt_area {
  height: 6em; }

.input_wrapper input, textarea, select {
  border: none;
  width: 100%;
  height: 100%; }

.input_wrapper:nth-child(5) {
  height: auto;
  border: 1px solid #75452e;
  border-radius: 2px;
  width: 150px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #89553b;
  color: white; }

.submit-btn {
  padding: 10px; }

/*select{*/
/*-webkit-appearance: none;*/
/*background: url(https://image.flaticon.com/icons/svg/60/60995.svg) 96% / 15% no-repeat;*/
/*outline: none;*/
/*-webkit-appearance: none;*/
/*}*/
@media (max-width: 750px) {
  li a {
    font-size: 0.7em; }

  .nav-li {
    padding: 10px 10px; }

  .contact-form {
    padding: 0px 6em; } }
@media (max-width: 650px) {
  li a {
    font-size: 0.5em; }

  .nav-li {
    padding: 6px 6px; } }
@media (max-width: 550px) {
  /*ul li a{
  
  }*/
  .nav-li {
    display: none;
    padding: 18px 10px; }

  .icon {
    display: inline-block; }

  .icon img {
    display: inline-block; }

  .contact-form {
    padding: 0px 4em; } }

/*# sourceMappingURL=style.css.map */