* {
  font-family: "Catamaran";
  margin: 0px;
  padding: 0px; }

@font-face {
  font-family: "Myriad";
  src: url("../fonts/MYRIADPRO-REGULAR.woff") format("woff"); }
@font-face {
  font-family: "Catamaran";
  src: url("../fonts/catamaran.medium.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: "Catamaran";
  src: url("../fonts/catamaran.bold.ttf") format("truetype");
  font-weight: bold; }
.first-page {
  text-align: left;
  position: relative;
  width: 100%;
  height: 85vh; }

.cover_sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 232, 242, 0.8)), to(rgba(24, 235, 242, 0.95))), url(../img/laptop_back.jpeg);
  background-image: linear-gradient(rgba(24, 232, 242, 0.8), rgba(24, 235, 242, 0.95)), url(../img/laptop_back.jpeg);
  height: 75vh;
  background-size: cover;
  background-position: center; }

.main-logo {
  width: 80%;
  height: auto; }

.logo-wrapper {
  text-align: center;
  margin-top: -130px; }

.quote {
  font-family: "Myriad";
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
  line-height: 1.3em;
  letter-spacing: 0.1em;
  color: #333333; }

.box_blue div:nth-child(2) {
  display: inline-block; }

.main-block {
  max-width: 340px;
  padding: 0 0 10px 0;
  margin: auto;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
  background: #01291f; }

.join-us,
.sign-in {
  width: 100%;
  height: 45px;
  text-align: center;
  line-height: 45px;
  /* The same as your div height */ }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.join-us {
  color: #bec4c3; }

.sign-in {
  color: #01291f;
  background: #bec4c3; }

form {
  padding: 10px;
  margin: 0 10px; }

.account-type, .gender {
  margin: 15px 0; }

input[type=radio] {
  display: none; }

label#icon {
  margin: 0;
  border-radius: 5px 0 0 5px; }

label.radio {
  position: relative;
  display: inline-block;
  padding-top: 4px;
  margin-right: 20px;
  text-indent: 30px;
  overflow: visible;
  cursor: pointer; }

label.radio:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1c87c9; }

label.radio:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 4px;
  top: 8px;
  left: 4px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0; }

input[type=radio]:checked + label:after {
  opacity: 1; }

input[type=text], input[type=password] {
  width: 100%;
  height: 36px;
  margin: 13px 0 0 -5px;
  padding-left: 10px;
  border: solid 1px #cbc9c9;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  background: #fff; }

input[type=password] {
  margin-bottom: 5px; }

button[type=submit] {
  letter-spacing: 2px;
  font-size: 1.3em;
  color: #01291f;
  background: #ff6600; }

.btn-block {
  margin-top: 10px;
  text-align: center; }

.btn-block p {
  font-family: "Myriad";
  text-align: left;
  color: #bec4c3; }

button {
  width: 100%;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  background: #1c87c9;
  font-size: 14px;
  font-weight: 600;
  color: #fff; }

button:hover {
  background: #26a9e0; }

/*#================ LOGO =================*/
/*#================ FRONTIMAGE =================*/
.section-name,
.section-name2 {
  margin: 35px 0;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #08929a; }

.section-name2 {
  margin: 50px 0; }

.line {
  display: inline-block;
  margin: 0 3px 5px 3px;
  width: 15%;
  border-bottom: 2px solid white; }

.description {
  text-align: center;
  margin: 0;
  /*width:75%;*/ }

.description p {
  font-size: 1.1em;
  display: block;
  margin: 0px 150px;
  color: #383838; }

.card-block {
  margin: 80px 0px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*grid-gap: 5px;*/
  /*grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));*/
  /*height: 100vh;*/ }

.img-wrap {
  padding: 20px;
  height: 150px;
  text-align: center; }

.card {
  display: inline-block;
  height: 350px;
  width: 300px;
  /*padding: 10px;*/
  text-align: center;
  /*border:1px solid black;*/ }

img {
  width: 100%;
  height: 100%;
  margin: auto; }

.card-name {
  font-weight: bold;
  font-size: 1.3em;
  color: #08929a; }

.card_text {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  color: #383838; }

footer {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #383838;
  color: white; }

.content {
  margin: 5px 0; }

.content:first-child {
  width: 300px;
  display: inline-block; }

.ios-toggle,
.ios-toggle:active {
  position: absolute;
  top: -5000px;
  opacity: 0;
  border: none;
  outline: none; }

.checkbox-label {
  display: block;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  width: 36px;
  height: 16px;
  /*border-radius*/
  border-radius: 18px;
  background: #f8f8f8;
  cursor: pointer; }

.checkbox-label:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 36px;
  width: 36px;
  /*border-radius*/
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;
  /*box-shadow*/
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd; }

.checkbox-label:after {
  content: attr(data-off);
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: -350px;
  padding: 10px;
  height: 100%;
  width: 300px;
  text-align: right;
  color: black;
  white-space: nowrap; }

.ios-toggle:checked + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 20px #13bf11, 0 0 0 2px #13bf11;
  box-shadow: inset 0 0 0 20px #13bf11, 0 0 0 2px #13bf11; }

.ios-toggle:checked + .checkbox-label:before {
  left: calc(100% - 36px);
  /*box-shadow*/
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3); }

.ios-toggle:checked + .checkbox-label:after {
  content: attr(data-on);
  color: black;
  left: 60px;
  width: 36px; }

#checkbox1 + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 0px #13bf11, 0 0 0 2px #dddddd;
  box-shadow: inset 0 0 0 0px #13bf11, 0 0 0 2px #dddddd; }

#checkbox1:checked + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 18px #13bf11, 0 0 0 2px #13bf11;
  box-shadow: inset 0 0 0 18px #13bf11, 0 0 0 2px #13bf11; }

#checkbox1:checked + .checkbox-label:after {
  color: black; }

.ios-toggle2,
.ios-toggle2:active {
  position: absolute;
  top: -5000px;
  opacity: 0;
  border: none;
  outline: none; }

.checkbox-label2 {
  display: block;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  width: 36px;
  height: 16px;
  /*border-radius*/
  border-radius: 18px;
  background: #f8f8f8;
  cursor: pointer; }

.checkbox-label2:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 36px;
  width: 36px;
  /*border-radius*/
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;
  /*box-shadow*/
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd; }

.checkbox-label2:after {
  content: attr(data-off);
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: -350px;
  padding: 10px;
  height: 100%;
  width: 300px;
  text-align: right;
  color: black;
  white-space: nowrap; }

.ios-toggle2:checked + .checkbox-label2 {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 20px #13bf11, 0 0 0 2px #13bf11;
  box-shadow: inset 0 0 0 20px #13bf11, 0 0 0 2px #13bf11; }

.ios-toggle2:checked + .checkbox-label2:before {
  left: calc(100% - 36px);
  /*box-shadow*/
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3); }

.ios-toggle2:checked + .checkbox-label2:after {
  content: attr(data-on);
  color: black;
  left: 60px;
  width: 36px; }

#checkbox2 + .checkbox-label2 {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 0px #bfbf11, 0 0 0 2px #dddddd;
  box-shadow: inset 0 0 0 0px #bfbf11, 0 0 0 2px #dddddd; }

#checkbox2:checked + .checkbox-label2 {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 18px #13bf11, 0 0 0 2px #13bf11;
  box-shadow: inset 0 0 0 18px #bfbf11, 0 0 0 2px #bfbf11; }

#checkbox2:checked + .checkbox-label2:after {
  color: black; }

:root {
  --helv_f:"Helvetica";
  --color_font_orange: #F48F1D;
  --reg_font_weight: 400; }

/*# sourceMappingURL=style.css.map */