
*{
	margin:0px;
	padding:0px;
}

.wrapper{
	margin-top: 100px;
	height:100vh;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.cl{
	width:12em;
	height: 12em;
}

.sq1{
	background-color:red;
}
.sq2{
	background-color:yellow;
}
.sq3{
	background-color:green;
}

@media (max-width:1024px) and (orientation:landscape) {
	.wrapper{
		flex-direction:column;
		align-items: center;
	}
	.cl{
		width:8em;	
		height: 8em;
	}
}


@media (max-width:750px) and (orientation:portrait){

	.wrapper{
		flex-direction:column-reverse;
		margin-top: 20px;
	}
	.cl{
		width:6em;	
		height: 6em;
	}
}

@media (max-width:600px) and (orientation:landscape){
	.wrapper{
		margin-top: 20px;
		flex-direction:row-reverse;
	}
	.cl{
		width:4em;	
		height: 4em;
	}
}


